<div class="signin"></div>
    <div class="my-book-sign">
        <div class="row book-container" >
            <div class="links" id="forget-me-not">
                <h1 class="title-flower">Sign in</h1>
                <div class="thumbnail test-card">
                    <form action="">
                        User name:<br>
                        <input type="text" name="userid" value="Username" class="input-join">
                        User password:<br>
                        <input type="password" name="psw" class="input-join">
                        <a class="watch" href='#/dashboard'>Sign in</a>
                        <div class="noaccount">
                            <div class="name2">
                                <a href='#/signup' class="name2">Don't have an account</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="top-panel" ng-hide="signed">
	    <div class="bottom-part-of-top-panel">
	        <a class="btn btn-link link-home" href="/#!/index.html" >
        		<img class="img succulent" src="/img/BookUnity.svg">
        	</a>
	        <a class="join" href="#/signin">JOIN</a>
	        <a class="menubutton" href="#/about">About</a>
	        <a class="menubutton" href="#/search/#filters-search">Search</a>
	        <a class="menubutton" href="#/catalog">Catalog</a>
	    </div>
    </div>
    <div class="top-panel" ng-show="signed">
	    <div class="bottom-part-of-top-panel">
	        <a class="btn btn-link link-home" href="/#!/index.html" >
        		<img class="img succulent" src="/img/BookUnity.svg">
        	</a>
	        <a class="join" href="#/signin">LOG OUT</a>
	        <a class="menubutton" href="#/dashboard">Profile</a>
	        <a class="menubutton" href="#/about">About</a>
	        <a class="menubutton" href="#/search/#filters-search">Search</a>
	        <a class="menubutton" href="#/catalog">Catalog</a>
	    </div>
    </div>